*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(#888e9b);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:#F5F7FA;
    width:80%;
    max-width:800px;
    padding:30px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.2);
}

h1{
    color:brown;
    margin-bottom:20px;
}

p{
    font-size:18px;
    color:#555;
    margin:15px 0;
}

.logo{
    width:150px;
    height:150px;
    object-fit:contain;
    margin:15px 0;
}

a{
    text-decoration:none;
    color:#e63946;
    font-weight:bold;
    font-size:18px;
}

a:hover{
    text-decoration:underline;
}

button{
    background:linear-gradient(45deg,#ff6b6b,#ff8e53);
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    font-size:16px;
    cursor:pointer;
    margin-top:20px;
}

button:hover{
    transform:scale(1.05);
}